.typewriter {
  display: flex;
  min-width: 300px;
  background-color: #000;
  align-items: baseline;
  padding-left: 5px;
  white-space: nowrap;
}

.typewriter span {
  text-transform: lowercase;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1px;
  overflow: hidden;
}

.typewriter .prompt {
  margin-right: 10px;
}

.typewriter .content {
  width: 0;
}

.view-enter-done .typewriter .content {
  display: inline-block;
  width: auto;
  animation: typing 5s steps(40);
}

.content::after {
  content: '|';
  vertical-align: top;
  animation: blink-caret 1s linear infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from { color: transparent; }
  to { color: #fff; }
}