nav {
  fill: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 35px;
  padding-right: 70px;
  z-index: 1;
}

nav .icon {
  display: none;
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  padding-right: 17px;
  margin-right: 17px;
  text-transform: lowercase;
  border-right: 1px solid #fff;
  text-align: center;
  text-decoration: none;
}

.nav-item.active, .nav-item:hover {
  text-shadow: #FFF 1px 0 10px;
}

.nav-item:last-of-type {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .text-nav {
    display: none;
  }

  nav .icon {
    display: inline;
  }

  nav {
    height: 35px;
    width: 35px;
    padding-right: 0;
    right: 15px;
    top: -15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
}