.footer {
  position: absolute;
  right: 70px;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .icon {
  fill: #fff;
}

.footer a {
  height: 70px;
  width: 70px;
  margin-bottom: 35px;
}

.footer a:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 823px) {
  .footer {
    right: 15px;
  }

  .footer a {
    height: 35px;
    width: 35px;
    margin-bottom: 17px;
  }
}