.footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .icon {
  fill: #fff;
}

.footer a {
  height: 70px;
  width: 70px;
  margin-right: 35px;
}

.footer a:last-of-type {
  margin-right: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer a {
    height: 35px;
    width: 35px;
    margin-right: 17px;
  }
}