.home {
  position: absolute;
  top: 15%;
  padding-left: 70px;
}

.home h1 {
  color: #FFF;
  max-width: 525px;
  font-weight: 300;
  font-size: 125px;
  text-transform: capitalize;
  margin: 0;
}

.home h1.iam {
  position: relative;
  top: -30px;
}

.home h2 {
  color: #000;
  max-width: 525px;
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
  transform: translate(0, -15px);
}

.home .tool-display-container {
  display: flex;
  visibility: hidden;
  justify-content: center;
  width: 100%;
}

.home-view .code-display.main {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 600px;
  opacity: 0.5;
}

.view-enter-done .tool-display-container, .view-appear-done .tool-display-container { 
  visibility: visible;
}

.view-enter h1.hello, .view-appear h1.hello {
  transform: translate(0, -45px);
}

.view-enter-active h1.hello, .view-appear-active h1.hello {
  transform: translate(0, 0);
  transition: transform 2s;
}

.view-enter h1.iam, .view-appear h1.iam {
  transform: translate(-45px, 0);
}

.view-enter-active h1.iam, .view-appear-active h1.iam {
  transform: translate(0, 0);
  transition: transform 2s;
}

.view-enter .typewriter, .view-appear .typewriter {
  transform: translate(0, 45px);
}

.view-enter-active .typewriter, .view-appear-active .typewriter {
  transform: translate(0, 0);
  transition: transform 2s;
}

@media (min-width: 0) and (max-width: 1024px) {
  .home {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    transform: translate(0, -20%);
  }

  .home h1 {
    font-size: 50px;
  }

  .home h1.iam {
    position: relative;
    top: -10px;
  }

  .home h2 { 
    font-size: 25px;
    transform: translate(0, -5px);
  }
}