.home {
  position: absolute;
  top: 15%;
  padding-left: 70px;
}

.home h1 {
  color: #FFF;
  max-width: 525px;
  font-weight: 300;
  font-size: 140px;
  text-transform: capitalize;
  margin: 0;
}

.home h1.iam {
  position: relative;
  top: -30px;
}

.home h2 {
  color: #2F2E29;
  max-width: 525px;
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
  transform: translate(0, -15px);
}

.view-enter, .view-appear h1.hello {
  transform: translate(0, -45px);
}

.view-enter-active, .view-appear-active h1.hello {
  transform: translate(0, 0);
  transition: transform 2s;
}

.view-enter, .view-appear h1.iam {
  transform: translate(-45px, 0);
}

.view-enter-active, .view-appear-active h1.iam {
  transform: translate(0, 0);
  transition: transform 2s;
}

.view-enter, .view-appear .typewriter {
  transform: translate(0, 45px);
}

.view-enter-active, .view-appear-active .typewriter {
  transform: translate(0, 0);
  transition: transform 2s;
}

@media (min-width: 320px) and (max-width: 823px) {
  .home h1 {
    font-size: 60px;
    max-width: 85%;
  }

  .home h1.iam {
    position: relative;
    top: -10px;
  }

  .home h2 { 
    font-size: 25px;
    transform: translate(0, -5px);
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .home {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    transform: translate(0, -20%);
  }
}